<!DOCTYPE html>
<html>

<head>
    <title>Camera App</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/camera.css') }}">
</head>

<body>
    <h1>Cameras available</h1>
    <div class="camera-grid">
        {% for camera in cameras %}
        <div class="camera-card" style="background-image: url('../static/images/camera_{{ camera['index'] }}.jpg');">
            <h2 class="camera-index">Camera ID: {{ camera['index'] }}</h2>
            <div class="camera-info">
                <p>Width: {{ camera['width'] }}</p>
                <p>Height: {{ camera['height'] }}</p>
                <p>Frame rate (FPS): {{ camera['fps'] }}</p>
                <p>FourCC: {{ camera['fourcc'] }}</p>
                <p>Backend: {{ camera['backend'] }}</p>
                <p>Active: {{ camera['is_opened'] }}</p>
            </div>
            <form action="/capture" method="post" style="margin-top: 10px;">
                <input type="hidden" name="camera_index" value="{{ camera['index'] }}">
                <button type="submit">Capture Image</button>
            </form>
        </div>
        {% endfor %}
    </div>
    <script src="{{ url_for('static', filename='javascript/camera.js') }}"></script>
</body>

</html>
