.camera-card {
    /* border: 1px solid #ccc; */
    /* border-radius: 2rem; ; */
    padding: 0; 
    margin: 0 auto; 
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    /* width: 50vw;  */
    height: 50vh; 
    /* overflow: hidden; */
}

.camera-info {
    margin-top: 10px;
    display: flex; 
    flex-direction: row; 
    gap: 1rem; 
    color: #A08C64;
}

.camera-index {
    font-weight: bold;
    font-size: 18px;
    color: #A08C64;
}

.camera-image {
    height: 60vh; 
    object-fit: cover;
}

button {
    color: white;
    background-color: #A08C64;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
}

button:hover {
    background-color: #9d9d9d;
    cursor: pointer;
}

button:active {
    background-color: #d27c31;
}

button:link {
    background-color: #20a7be;
    text-decoration: none;
    color: red;
}

button:visited {
    background-color: #2cddc0;
    text-decoration: none;
    color: purple;
}

